Portable/RCS.PortableShop.ServiceClients.Products/Service References/ProductsService/ProductsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IProductsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_IProductsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://rcs-vostro/ProductsServicePub/ProductsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://rcs-vostro/ProductsServicePub/ProductsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://rcs-vostro/ProductsServicePub/ProductsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RCS.AdventureWorks.Common.Dtos" />
      <xsd:import schemaLocation="https://rcs-vostro/ProductsServicePub/ProductsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RCS.AdventureWorks.Common.DomainClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductsService_GetProductsOverviewBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsOverviewBy" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductsOverviewBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsOverviewByResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetails" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategories" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductSubcategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSubcategories" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductSubcategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSubcategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductsService">
    <wsdl:operation name="GetProductsOverviewBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetProductsOverviewBy" message="tns:IProductsService_GetProductsOverviewBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetProductsOverviewByResponse" message="tns:IProductsService_GetProductsOverviewBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetProductDetails" message="tns:IProductsService_GetProductDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetProductDetailsResponse" message="tns:IProductsService_GetProductDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetProductCategories" message="tns:IProductsService_GetProductCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetProductCategoriesResponse" message="tns:IProductsService_GetProductCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductSubcategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetProductSubcategories" message="tns:IProductsService_GetProductSubcategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetProductSubcategoriesResponse" message="tns:IProductsService_GetProductSubcategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IProductsService" type="tns:IProductsService">
    <wsp:PolicyReference URI="#WSHttpBinding_IProductsService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductsOverviewBy">
      <soap12:operation soapAction="http://tempuri.org/IProductsService/GetProductsOverviewBy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetails">
      <soap12:operation soapAction="http://tempuri.org/IProductsService/GetProductDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCategories">
      <soap12:operation soapAction="http://tempuri.org/IProductsService/GetProductCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductSubcategories">
      <soap12:operation soapAction="http://tempuri.org/IProductsService/GetProductSubcategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IProductsService" type="tns:IProductsService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IProductsService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductsOverviewBy">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetProductsOverviewBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetails">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetProductDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCategories">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetProductCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductSubcategories">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetProductSubcategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductsService">
    <wsdl:port name="WSHttpBinding_IProductsService" binding="tns:WSHttpBinding_IProductsService">
      <soap12:address location="https://rcs-vostro/ProductsServicePub/ProductsService.svc/ProductsServiceW" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://rcs-vostro/ProductsServicePub/ProductsService.svc/ProductsServiceW</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IProductsService" binding="tns:BasicHttpBinding_IProductsService">
      <soap:address location="https://rcs-vostro/ProductsServicePub/ProductsService.svc/ProductsServiceB" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>